###> IDE configuration ###
.idea/
AGD-2018.iml
AGD-2018.code-workspace
.DS_Store
###< IDE configuration ###

###> Node.js files ###
node_modules/
.npmignore
package-lock.json
###< Node.js files ###

###> Cordova files ###
hooks/README.md
platforms/android/
platforms/browser/
plugins/cordova-plugin-whitelist/
plugins/cordova-plugin-file/
plugins/cordova-plugin-sqlite-2/
plugins/android.json
plugins/browser.json
plugins/fetch.json
res/icon/
res/screen/
res/README.md
www/img/
###< Cordova files ###
