/* Navbar */

header.navbar {
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 56px;
    z-index: 2;
}

header.navbar.bg-primary { background-color: #F44336!important; }

.container-fluid {
    margin-top: 56px;
    z-index: 1;
}


/* Boutons dans le header */

.icon {
    font-size: 31px; 
    color: white;
}

svg.svg-inline--fa.fa-plus.fa-w-14 { width: 20px; }


/* Calendrier */

.container-fluid {
    padding-top: 5rem;
    padding-left: 8px; padding-right: 8px;
}

td.bg-primary {
    background-color: #36E7F4!important;
}

td { width: 5%; }

.table th { padding-left: 10px; padding-right: 10px; }

.card { font-size: 14px; }


/* Header du calendrier */

.cd-btn-form {
    position: absolute;
    right: 0;
    margin-right: 8px;
}

button.cd-btn {
    background: none; border: none;
    font-size: 1.2em;
    height: 34px; width: 34px;
}
.form-inline {
    background-color: rgba(0,0,0,.03);
    border-bottom: 1px solid rgba(0,0,0,.125);
}
.card-header {
    background-color: rgba(0, 0, 0, 0);
    border-bottom: 1px solid rgba(0, 0, 0, 0);
    padding-left: 16px;
}

.flex-container{
    display: flex;
    justify-content: space-between;
}