/****************************/
/* Style de la page d'intro */
/******** index.html ********/

#app {
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}


/******************************/
/* Style de la page d'accueil */
/********* home.html **********/

/* Navbar */

header.navbar {
    position: fixed; top: 0; left: 0;
    width: 100%; height: 56px;
    z-index: 2;
}
#form-event{margin-top: 100px;}
header.navbar.bg-primary { background-color: #F44336!important; }

.container-fluid { margin-top: 56px; z-index: 1; }


/* Boutons dans le header */

.icon { font-size: 31px; color: white; }

svg.svg-inline--fa.fa-plus.fa-w-14 { width: 20px; }


/* Calendrier */

.container-fluid {
    padding-top: 5rem;
    padding-left: 8px; padding-right: 8px;
}

td.bg-primary {
    background-color: #36E7F4!important;
}

td { width: 5%; }

.table th { padding-left: 10px; padding-right: 10px; }

.card { font-size: 14px; }


/* Header du calendrier */

.cd-btn-form {
    position: absolute; right: 0;
    margin-right: 8px;
}

button.cd-btn {
    background: none; border: none;
    font-size: 1.2em;
    height: 34px; width: 34px;
}
.form-inline {
    background-color: rgba(0,0,0,.03);
    border-bottom: 1px solid rgba(0,0,0,.125);
}
.card-header {
    background-color: rgba(0, 0, 0, 0);
    border-bottom: 1px solid rgba(0, 0, 0, 0);
    padding-left: 16px;
}

.flex-container{ display: flex; justify-content: space-between; }


/*****************************/
/* Style de la page addEvent */
/******* addEvent.html *******/

/* Bouton d'envoi */

.btn-submit {
    width: 50px; height: 50px;
    background-color: #F44336;
    border-radius: 50%; border-style: none;
    position: fixed; right: 0; bottom: 0;
    margin-right: 8px; margin-bottom: 8px;
}

.btn-submit:active {
    background-color: white;
    border-style: solid; border-width: 1px; border-color: red;
}

.btn-submit:focus { outline:none; }

span.icon:active { color: red; }

.btn-submit.svg-inline--fa.fa-plus.fa-w-14 { height: 20px; }


/* Date picker */

.cElemDatePicker { font-size: 14px; }


/* Alerte en haut de page */

#ipAlertStartEnd { display:none }

.card-fade {
    width: 100%; height: 300px;
    margin: auto;
}

#target{
    margin-top: 55px; margin-bottom: 66px;
    margin-left: 8px; margin-right: 8px;
}

#ipAlertTitle{ margin-top: 5%; }
