/* Navbar */

header.navbar {
    position: fixed;
    top: 0; left: 0;
    width: 100%;
    z-index: 2;
    height: 56px;
}

.container-fluid {
    margin-top: 56px;
    z-index: 1;
}


/* Calendrier */

.container-fluid {
    padding-top: 5rem;
}

td.bg-primary {
    color: white;
}

td {
    width: 5%;
}


/* Boutons en bas de page */

.form-inline {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.icon{
    font-size: 31px; 
    color: white;
}