body, html {
    background-color: #fafafa;
    width: 100%;
    height: 100%;
}

/****************************/
/** Style du header/navbar **/
/****************************/


/* Navbar */

header.navbar {
    position: fixed; top: 0; left: 0;
    width: 100%; height: 56px;
    z-index: 2;
    justify-content: flex-start;
    box-shadow: 0 4px 5px 0 rgba(0,0,0,0.04), 0 1px 10px 0 rgba(0,0,0,0.02), 0 2px 4px -1px rgba(0,0,0,0.10);
}
#form-event{ margin-top: 64px; }
header.navbar.bg-primary { background-color: #F44336!important; }

.container-fluid { margin-top: 56px; z-index: 1; }
    
.navbar-brand { font-size: 20px; margin-left: 16px; margin-bottom: 2px!important;}
.navbar-brand.home { margin-left: 0px; }


/* Boutons dans le header */

.navbar-icon { fill: white; }


/* Barre de navigation en bas de l'écran */

footer.navbar {
    background-color: white;
    height: 56px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0 -4px 5px 0 rgba(0,0,0,0.04), 0 -1px 10px 0 rgba(0,0,0,0.02), 0 -2px 4px -1px rgba(0,0,0,0.10);
    display: flex;
    justify-content: space-around;
    padding: 0;
    transition: all 0.2s;
}

footer.navbar > .navbar-btn {
    width: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
    color: #F44336;
    justify-content: center;
    height: 100%;
    transition: all 0.2s;
}

@keyframes svg-up {
    0% { top: 16px; }
    100% { top: 5px; }
}

@keyframes svg-down {
    0% { top: 5px; }
    100% { top: 16px; }
}

.svg-up {
    animation: svg-up 0.2s ease;
}

.svg-down {
    animation: svg-down 0.2s ease;
}

.navbar-btn > svg {
    position: absolute;
    top: 16px;
}

.navbar-btn.current > svg {
    top: 5px;
    transition: all 0.2s;
}

footer.navbar > .navbar-btn.current {
    margin-top: 8px;
    margin-bottom: 12px;
    transition: all 0.2s;
}

.navbar-btn  > span {
    opacity: 0;
    position: absolute;
    bottom: -3px;
    transition: all 0.2s;
}

.navbar-btn.current  > span {
    opacity: 1;
    visibility: visible;
    bottom: 9px;
    transition: all 0.2s;
}


/****************************/
/* Style de la page d'intro */
/******** index.html ********/

#app {
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.img-title > div {
    text-align: center;
    font-weight: 500;
    font-size: 18px;
}


/******************************/
/* Style de la page d'accueil */
/********* home.html **********/


/* Calendrier */

.container-fluid {
    padding-top: 8px;
    padding-bottom: 56px;
    padding-left: 0; padding-right: 0;
}

td.bg-primary {
    background-color: #36E7F4!important;
    border-radius: 60px;
}

td { width: 5%; }

.table th { padding-left: 10px; padding-right: 10px; }

.card {
    font-size: 14px;
    border-style: none;
    background-color: #fafafa;
    box-shadow: none;
    margin: 0;
}

.table-bordered, .table tr, .table thead th, .table-bordered td, .table-bordered th {
    border-style: none;
}

.table thead th, .table tbody td {
    text-align: center;
}


/* Header du calendrier */

.form-inline {
    display: flex;
    justify-content: space-between;
    padding-right: 10px;
}

button.cd-btn {
    background: none; border: none;
    font-size: 1.2em;
    height: 34px; width: 34px;
}

button.cd-btn:focus {
    outline: none;
}

.card-header {
    padding-left: 16px;
    background: none;
    border-style: none;
}

.flex-container{ display: flex; justify-content: space-between; }

/* Boutons en dessous du calendrier */

.flex-container.home { margin-top: 8px; }

.body { padding-bottom: 80px; }

#body a {
    color: #fff; 
    background: #F44336;
    text-decoration: none; 
    padding: 0.4em 0.5em;
}

#body {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*****************************/
/* Style de la page addEvent */
/******* addEvent.html *******/

/* Bouton d'envoi */

.btn-submit {
    height: 48px;
    background-color: #F44336;
    border-radius: 24px; border-style: none;
    position: fixed;
    right: 0; bottom: 0;
    margin-right: 16px; margin-bottom: 16px;
    padding-left: 12px; padding-right: 20px;
    color: white;
    display: flex;
    justify-content: flex-start; align-items: center;
    box-shadow: 0 6px 10px 0 rgba(0,0,0,0.14), 0 1px 18px 0 rgba(0,0,0,0.12), 0 3px 5px -1px rgba(0,0,0,0.20);
    transition-timing-function: ease-in-out;
    transition-duration: .2s;
}

.btn-submit.onhome {
    margin-bottom: 72px;
    width: 48px;
    padding-right: 12px;
}

.btn-submit:active {
    background-color: #C62828;
    box-shadow: 0 12px 17px 2px rgba(0,0,0,0.14), 0 5px 22px 4px rgba(0,0,0,0.12), 0 7px 8px -4px rgba(0,0,0,0.20);
}
.btn-submit:focus { outline: none; }

.plus-btn { margin-bottom: 1px; }

.btn-submit-label {
    font-size: 0.9375rem;
    text-transform: uppercase;
    font-weight: 600;
    margin-left: 11px;
}


/* Date picker */

.cElemDatePicker { font-size: 14px; }


/* Alerte en haut de page */

#ipAlertStartEnd { display:none }

.card-fade {
    width: 100%; height: 300px;
    margin: auto;
}

#target{
    margin: 55px 16px 80px 16px;
}

#ipAlertTitle{ margin-top: 10%; }


/*****************************/
/*** Boutons pour la liste ***/
/********* list.html *********/


/* Titre de la liste */

.list-title { margin-left: 8px; }


/* Eléments de la liste */

.buttn {
    text-align: left;
    width: 100%; height: 48px;
    background-color: white;
    padding-top: 14px;
    padding-left: 16px; padding-right: 16px;
    border-radius: 0;
    color: black;
}
.buttn:active {
    background-color: #ddd;
    color: black;
}
.buttn:visited { color: black; }
.buttn:hover { color: black; }
.buttn:focus { outline: none; }


/*****************************/
/** Suppression des bordures */
/** sur les boutons outline **/
/*****************************/

.btn-outline-primary { border-style: none; }
.btn-outline-secondary { border-style: none; color: black; }
.btn-outline-danger { border-style: none; }